body {
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
}

/* MAIN LAYOUT */
/* Navbar */
.navbar {
  width: 100%;
  background-color: black;
  height: 10vh;
  padding-top: 12px;
}

.navUl {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.links {
  color: white;
  font-size: 30px;
  /* padding: 10px; */
}

/*  */

.landing {
  background: linear-gradient(
      rgba(0, 0, 0, 0.05), 
      rgba(0, 0, 0, 0.09)
    ), url('./img/restaurant.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  text-align: center;
  width: 70%;
  height: 70%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.7));
}

.header {
  color: white;
  font-size: 36px;
}

.para {
  color: white;
  font-size: larger;
}

/* TAB CREATE */
.tab-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #f1a927db;
  margin: 0;
  height: 8%;
}

.tabs {
  color: white;
  font-size: 30px;
  list-style: none;
  width: 100%;
  padding-top: 8px;
}

.tabs:hover {
  background-color: rgba(152, 152, 152, 0.755);
  color: white;
}

/* HOME TAB */
.countries-ul {
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.image-text {
  font-size: large;
  font-weight: bold;
  margin-top: 6%;
}

.image-thumb {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#jp {
  background: url('./img/japan.jpg');
  background-position: center;
  background-size: cover;
}

#mx {
  background: url('./img/mexico.jpg');
  background-position: center;
  background-size: cover;
}

#am {
  background: url('./img/america.jpg');
  background-position: center;
  background-size: cover;
}

#it {
  background: url('./img/italy.jpg');
  background-position: center;
  background-size: cover;
}